body {
    background-color: #eff5f8;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

.wrapper {
    margin: 200px;

}

.scores {
    margin: 0px;
    color: #Cf79ec;
    font-size: 20px;
}

.timer {
    padding-right: 60px;
    font-size: 20px;
}

.scores:hover {
    color: #Dca8ec;
}


.quiz-intro {
    text-align: center;
}

.quiz-intro h2 {
    font-size: 50px;
}

.quiz-intro p {
    font-size: 30px;
}

.start {
    font-size: 25px;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(53, 28, 116);
    color: white;
}

.start:hover {
    background-color: #Cf79ec;
}

.question-page {
    font-size: 30px;
    font-weight: bolder;
    box-sizing: border-box;
    width: 100%;
}

.question-page p {
    text-align: center;
}

.question-page li {
    text-align: left;
}

.question-page li button {
    width: 30%;
    text-align: left;
    margin: 5px;
}

.question-page button:hover {
    background-color: #Cf79ec;
}

.answer {
    font-size: 25px;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(53, 28, 116);
    color: white;
}

.correct, .incorrect {
    font-style: italic;
    color: #C9CAC9;
    font-size: 30px;
    border-top: 2px solid #C9CAC9;
    width: 100%;
}



.display-none {
    display: none;
}


